# Eclipse specific files #
*bin/
*target/

# intelliJ specific files #
.DS_Store
.idea/
*.iml
*.eml

# output files #
*testRun/logs/*
*testRun/reports/*
*test-output
*TestRun_Logs
*TestRun_Reports
*TestRun_Results
*PacketStore
*PreRegPacketStore

# properties file #
*/config.properties
*logs/*
*reg
*/db
*local*
*services_jar/*
*.jar
*.log
