# Folder structure
logsFolder = \\testRun\\logs\\
reportsFolder = \\testRun\\reports\\
resultsFolder = \\testRun\\results\\
archiveFolder = \\testRun\\archive\\

ivv.mosip.host=https://${environment}
ivv.prereg.version=v1
ivv.prereg.apiversion=1.0
ivv.global.version=v1
ivv.global.apiversion=1.0

# Dependency server info #
ivv.swagger.host=http://localhost:8081

# email account #
ivv.email.server.host=${emailServerHost}
ivv.email.server.user=${emailServerUsername}
ivv.email.server.pass=${emailServerPassword}

# Input data & files ** path is relative to ivv-orchestrator module #
ivv.sheet.persona=/local/PersonaSheet.csv
ivv.sheet.partner=/local/PartnerSheet.csv
ivv.sheet.rcpersona=/local/RCUserSheet.csv
ivv.sheet.scenario=/local/ScenarioSheetFull.csv
ivv.sheet.globals=/local/GlobalsSheet.csv
ivv.sheet.configs=/local/ConfigsSheet.csv
ivv.sheet.documents=/local/DocumentsSheet.csv
ivv.sheet.biometrics=/local/BiometricsSheet.csv
ivv.path.documents=/local/documents/
ivv.path.biometrics=/local/biometrics/
ivv.path.generated.documents=/local/documents/
ivv.path.generated.biometrics=/local/data/resources/generated_data/biometrics/
ivv.path.auditlog=/testRun/reports/mosip_auditLogs.log
ivv.path.reports=/testRun/reports/mosip_reports.html